<h1>Internal Ticket Create</h1>

<form method="post">
    <input type="hidden" name="FormSubmit" value="1">

    <label>Title</label><br>
    <input type="text" name="Title" style="width:400px"><br><br>

    <label>Description</label><br>
    <textarea name="Body" rows="10" cols="60"></textarea><br><br>

    <button type="submit">Create Ticket</button>
</form>
